* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

form {
    margin: 20px 0;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 30px;
}

.container_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d6d6d6b6;
}

.container_info_pessoal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_residencia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 30px;
    background-color: #f5f5dc;
    border-radius: 20px;
}

.container_residencia input {
    width: 20em;
}

.label_endereco {
    margin: 20px 10px;
}